<form action="/bookmarks" method="post">
  <label for="url">URL:   </label>
  <input type="text" name="url" />
  <label for="title">Name: </label>
  <input type="text" name="title" />c
  <input type="submit" value="Submit" />
</form>